<!DOCTYPE html>
<html lang="en">
<%- include('../../head', page); %>
<body class="has-fixed-navi">
  <%- include('../../header', {
    page,
    user,
    moduleName,
    moduleSlug,
    navigation,
  }); %>
  
  <div style="min-height: 100vh;">
    <%- include('../../breadcrumb', {
      links: [
        { name: `Home`, url: `/` },
        { name: `VRP: Owner`, url: `/modules/owner` },
        { name: `Payments`, url: `/modules/owner/sub/payments` },
      ]
    }); %>
    <br />
    <div class="container">
      hello payments
    </div>
  </div>
  <%- include('../../footer'); %>
  <%- // include('session'); %>

  <!-- include htmx -->
  <script src="https://unpkg.com/htmx.org@1.9.11"></script>
</body>
</html>