<h3>Edit Manager</h3>
<form hx-put="/htmx/modules/owner/managers/<%= manager.id %>" 
      hx-target="#managers-list" 
      hx-swap="innerHTML"
      hx-trigger="submit">
  <div class="input-field">
    <input type="text" id="name" name="name" value="<%= manager.name %>" required>
    <label for="name" class="active">Name</label>
  </div>
  <div class="input-field">
    <select id="userId" name="userId" required>
      <% users.forEach(user => { %>
        <option value="<%= user.id %>" <%= user.id === manager.user.id ? 'selected' : '' %>><%= user.email %></option>
      <% }); %>
    </select>
    <label for="userId">User</label>
  </div>
  <button class="btn waves-effect waves-light blue darken-2" type="submit">
    Update
    <i class="material-icons right">send</i>
  </button>
</form>

<script>
  (function () {
    M.updateTextFields();

    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems, {});
  })();
</script>