<div class="card" style="margin: 0;">
  <table class="striped">
    <thead style="background: #ccc;">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th class="right">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% managers.forEach(manager => { %>
        <tr>
          <td><%= manager.name %></td>
          <td><%= manager.user.email %></td>
          <td class="right">
            <button class="btn-small waves-effect waves-light blue darken-2"
                    hx-get="/htmx/modules/owner/managers/view/<%= manager.id %>"
                    hx-target="#managers-content">
              View
            </button>
            <button class="btn-small waves-effect waves-light blue darken-2"
                    hx-get="/htmx/modules/owner/managers/edit/<%= manager.id %>"
                    hx-target="#managers-content">
              Edit
            </button>
            <button class="btn-small waves-effect waves-light red"
                    hx-delete="/htmx/modules/owner/managers/<%= manager.id %>"
                    hx-confirm="Are you sure you want to delete this manager?"
                    hx-target="#managers-list">
              Delete
            </button>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</div>

<% currentPage = parseInt(currentPage); %>

<div class="row list-footer" style="margin: 0 -1.5em;">
  <div class="col s12 m6 left-side">
    <ul class="pagination">
      <li class="<%= currentPage <= 1 ? 'disabled' : '' %>">
        <button
          id="paginationBack"
          class="btn-flat"
          hx-trigger="click"
          hx-get="/htmx/modules/owner/managers/list?search=<%= search %>&page=<%= currentPage - 1 %>&limit=<%= limit %>"
          hx-target="#managers-list"
          hx-swap="innerHTML"
          <%= currentPage <= 1 ? 'disabled="true"' : '' %>
        >
          <i class="material-icons">chevron_left</i>
        </button>
        <script>
          document.getElementById('paginationBack').addEventListener('click', function() {
            var queryParams = new URLSearchParams(window.location.search);
            queryParams.set('page', '<%= currentPage - 1 %>');
            history.pushState(null, null, '?' + queryParams.toString());
          })
        </script>
      </li>
      <% Array.from({ length: totalPages }, (_, i) => i + 1).forEach((page, index) => { %>
        <li>
          <button
            id="paginationNext<%= index %>"
            class="btn-flat waves-effect <%= currentPage === page ? 'active-page-number' : null %>"
            hx-trigger="click"
            hx-get="/htmx/modules/owner/managers/list?search=<%= search %>&page=<%= page %>&limit=<%= limit %>"
            hx-target="#managers-list"
            hx-swap="innerHTML"
          >
            <%= page %>
          </button>
          <script>
            document.getElementById('paginationNext<%= index %>').addEventListener('click', function() {
              var queryParams = new URLSearchParams(window.location.search);
              queryParams.set('page', '<%= page %>');
              history.pushState(null, null, '?' + queryParams.toString());
            })
          </script>
        </li>
      <% }); %>
      <li class="<%= currentPage >= totalPages ? 'disabled' : '' %>">
        <button 
          id="paginationForward"
          class="btn-flat"
          hx-trigger="click" 
          hx-get="/htmx/modules/owner/managers/list?search=<%= search %>&page=<%= currentPage + 1 %>&limit=<%= limit %>"
          hx-target="#managers-list"
          hx-swap="innerHTML"
          <%= currentPage >= totalPages ? 'disabled="true"' : '' %>
        >
          <i class="material-icons">chevron_right</i>
        </button>
        <script>
          document.getElementById('paginationForward').addEventListener('click', function() {
            var queryParams = new URLSearchParams(window.location.search);
            queryParams.set('page', '<%= currentPage + 1 %>');
            history.pushState(null, null, '?' + queryParams.toString());
          })
        </script>
      </li>
    </ul>
  </div>
  <div class="col s12 m6 right-side">
    <div style="padding: 1em; text-align: right;">
      showing <%= limit * currentPage - limit + 1 %>-<%= Math.min(limit * currentPage, total) %> of <%= total %> results
    </div>
  </div>
</div>

<script>
  document.addEventListener('htmx:afterOnLoad', function() {
    M.AutoInit();
  });
</script>

<style>
  .active-page-number:focus,
  .active-page-number {
    background: #000;
    color: #fff;
  }
</style>